<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912688511409-3qqihisu4nn4ebgpetobtn1dniua3064.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912688511409-3qqihisu4nn4ebgpetobtn1dniua3064</string>
	<key>API_KEY</key>
	<string>AIzaSyDbQGvE7NV-TEe5g-nEzq2_qtrg-UbG774</string>
	<key>GCM_SENDER_ID</key>
	<string>912688511409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yilmazer.Ehliyet-2017</string>
	<key>PROJECT_ID</key>
	<string>ehliyet-8ecef</string>
	<key>STORAGE_BUCKET</key>
	<string>ehliyet-8ecef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912688511409:ios:e7162aa5896e24b7</string>
	<key>DATABASE_URL</key>
	<string>https://ehliyet-8ecef.firebaseio.com</string>
</dict>
</plist>